body{
  margin:30px;
  background-color: #c266ff;
}
.page-wrapper {
  background: url(cover_bot.png) no-repeat left bottom;
  left: 50%;
  position: absolute;
  width: 770px;
  margin: 10px 0 20px -385px;
  padding-bottom: 120px;
}

header {
  background: #c266ff;
  color: black;
  list-style-type: none;
}

h1 {
  margin: 80px;
  color: #666633;
  display: inline;

}
nav ul {
  background: #999;
  color: white;
  display: inline-block;
  padding:5px 15px;
}
nav ul li a {
  color: black;
}
h3 {
  font-size: large;
}
.a {
  margin: 20px;
  padding: 0px;
  list-style-type: none;
}

.pensive-monkey {
  border-radius: 50%;
}
