body{
  margin:30px;
  background-color: #ccc;
}

header {
  background: #c266ff;
  color: black;
}

h1 {
  margin: 80px;
  color: #666633;
  display: inline;

}
nav ul {
  background: #999;
  color: white;
  display: inline-block;
  list-style-type: none;
  padding:5px 15px;
}
nav ul li a {
  color: black;
}
h3 {
  font-size: large;
}
.a {
  margin: 20px;
  padding: 0px;
  list-style-type: none;
}
